<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Controls</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <script>
            var run = function(cmd) {
                $.get('/setcmd/' + cmd,
                    function(x) {
                        console.log(x)
                    }
                )
            }
            /* var left = function() {
                $.get('/setcmd/left',
                    function(x) {
                        console.log(x)
                    }
                )
            }
            var right = function() {
                $.get('/setcmd/right',
                    function(x) {
                        console.log(x)
                    }
                )
            } */
        </script>
        pastebin run https://pastebin.com/jW4Wzg9N
        <button type="button" class="btn btn-primary" onclick="run('left')">left</button>
        <button type="button" class="btn btn-primary" onclick="run('right')">right</button>
        <button type="button" class="btn btn-primary" onclick="run('forward')">forward</button>
        <button type="button" class="btn btn-primary" onclick="run('back')">back</button>
        <button type="button" class="btn btn-primary" onclick="run('attack')">attack</button>
    </body>
</html>