<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Controls</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <script>
            var run = function(cmd) {
                $.get('/setcmd/' + cmd,
                    function(x) {
                        console.log(x)
                    }
                )
            }
            var get = function(cmd) {
                $.get('/' + cmd,
                    function(x) {
                        console.log(x)
                    }
                )
            }
            function copy_link(){
                navigator.clipboard.writeText("pastebin run https://pastebin.com/jW4Wzg9N")
            }

            window.addEventListener('load', function () {
                // Get the input field
                var input = document.getElementById("setnamefield");

                // Execute a function when the user presses a key on the keyboard
                input.addEventListener("keypress", function(event) {
                // If the user presses the "Enter" key on the keyboard
                if (event.key === "Enter") {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    document.getElementById("setname").click();
                }
                });
            })

            let inputValue;
            var eval = function(){
                code = document.getElementById("evalfield").value
                $.ajaxSetup({
                    headers: {"Access-Control-Allow-Origin": "*"}
                });
                $.post("http://please.lickthe.tips:6069/eval", code, function(data, status){
                    console.log(data, status)
                })
            }
        </script>
        <h4>pastebin run https://pastebin.com/jW4Wzg9N</h4>
        <button type="button" class="btn btn-primary" onclick="copy_link()">pastebin run https://pastebin.com/jW4Wzg9N</button>
        <p></p>
        <button type="button" class="btn btn-primary" onclick="run('forward')">forward</button>
        <button type="button" class="btn btn-primary" onclick="run('left')">left</button><button type="button" class="btn btn-primary" onclick="run('right')">right</button>
        <button type="button" class="btn btn-primary" onclick="run('back')">back</button>
        <p></p>
        <button type="button" class="btn btn-primary" onclick="run('attack')">attack</button>
        <button type="button" class="btn btn-primary" onclick="run('inspect')">inspect</button>
        Current: {{inspected}}
        <p></p>
        <input type="text" id="setnamefield">
        <button type="button" id="setname" class="btn btn-primary" onclick="run('setname+' + document.getElementById('setnamefield').value)">set name</button>
        <p></p>
        <textarea id="evalfield"></textarea>
        <button type="button" onclick="eval()" id="eval">Exec</button>
        <p></p>
        <button type="button" class="btn btn-primary" onclick="get('increase')">increase</button>
        <button type="button" class="btn btn-primary" onclick="get('reset')">reset!</button>
        <button type="button" class="btn btn-primary" onclick="get('terminate')">TERMINATE</button>
        <button type="button" class="btn btn-primary" onclick="get('unterminate')">UNTERMINATE</button>
        <button type="button" class="btn btn-primary" onclick="get('abort')">ABORT</button>
        <p></p>
        Index: {{index}}<p></p>
        Cmd: {{command}}<p></p>
        Queue: {{queue}}<p></p>
    </body>
</html>